button#btnClearCacheChrome, button#btnEditChrome {
position: fixed;
right: 3px;
bottom: 0;
opacity: 0.7;
min-height: 32px;
z-index: 90000;
cursor: pointer;
}

button#btnClearCacheChrome {
right: 120px;
}
